$pink : rgb(238, 22, 148);
$lightgray : rgb(221, 221, 221);
$blue: rgb(25, 81, 170);
$teal:rgb(5, 158, 158);
$gray : rgb(128, 128, 128);
*{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro';
}
hr{
    color:red;
}
#wrapper{
    margin: auto;
    min-width: 1200px;

}
.nav-container-1{
    flex-basis: 30%;
    padding-right: 2rem;
}

.nav-container-2{
    flex-basis: 55%;
    padding: 0 4rem;
    border-left: 1px lightgray solid;
}

.nav-container-3{
    flex-basis: 15%;
   padding-left: 1rem;
    border-left: 1px lightgray solid;
}

    
.navigation-item{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;  
    margin: 0.2rem auto;  
    .navigation-link{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 1rem;
        .icons{
            font-size: 1.2rem;
            flex-basis: 10%;
            color: $pink;
            margin-right: 0.5rem;
        }

        .link{
            flex-basis: 90%;
        }
        
        p{
            margin:2px;
            margin-right: 0.5rem;
            flex-basis: 50%;
        }
        
        .btn{
            flex-basis: 50%;
            margin-left: 1rem;
        }
    }

}

.head{
    padding: 1rem 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: unwrap;
    justify-content: space-between;
    align-items: center;


    .logo, .cart{
        flex-basis: 30%;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        align-items: center;
        
    }

    .cart{
        justify-content: flex-end;

        .icon-cart{
            color: $pink;
            padding: 0.5rem;
            font-size: 1.4rem;
        }

        .cartitem{
            font-size: 1rem;
            padding-left: 1rem;
        }
    }

    .logo{
        .logoimg{
            flex-basis: 50%;
            align-self: center;
                  
            img{
                display: block;
                height: 100px;
                margin-right: auto;
            }
            
        }

        .logoname{
            text-transform: uppercase;
            font-size: 1.5rem;
        }
    }

    
}

.search{
    border-left: solid 1px gray;
    border-right: solid 1px gray;
    margin: 0 auto;
    display: block;
    img{
        padding: 0 0.5rem;
        height: 1.5rem;
    }
}
.container-fluid{
    .bannerimage{
        height:70vh;
        background-color:black;
        img{
            width:100%;
            height:70vh;
        }
    }
    .top-slider{
        margin:20px;
        margin-left:70px;
        height:50vh;
        width:1100px;
        h2{
            font-size:36px;
            font-weight: 600;
            text-align: center;
            padding:25px;
            margin:15px;
        }
        .container-fluid{
            padding:10px;
            margin:10px;
        }
    }
    .featuredproduct{
        ul{
        background-color: darkblue;
        margin:25px;
        li{
            color:white;
            list-style: none;
            padding:15px;
        }
    }
    }
    .second-banner{
        margin:10px;
        padding:10px;
        background-image:url('./img/Layer14Image-8.png');
        height:20vh;
        display:grid;
        grid-template-columns: 1fr 3fr 2fr;
        i{
            padding:20px;
            font-size:70px;
            color:white;
        }
        div{
            padding:20px;
            color:white;
        }
        button{
            background-color:blue;
            border:none;
            height:5vh;
            width:180px;
            margin:50px;
            margin-left:100px;
            color:white;
        }
    }

    #card-footer{
        height:8vh;
    }
    .distributorproduct{
        margin-top:25px;
        display:grid;
        grid-template-columns: 1fr 5fr;
        grid-gap:2px;
        .sidebar{
          background-color:red;
          padding:10px;
          margin:15px;
          height:70vh;
          width:350px;
          p{
            color:white;
              padding:10px;
          }  
        }
        .minicard{
            padding:10px;
        }
    }

.hearfromclient{
    margin-top:25px;
    background-image: url("img/hands-woman-laptop-notebook\ Image-8.png");
    background-repeat: no-repeat;
    .container{
        
        .main{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: flex-start;
            padding-top: 4rem;
        }
    }
}

.happyclient{
    flex-basis: 30%;

    p{
        color: #ffffff;
        padding-top: 1rem;
    }
    
    .viewall{
        width: 80%;
        height:3rem; 
        margin-top: 2rem;
        color: white;
        background-color: $teal;
        border: none;
    }

}

.clientstories{
    flex-basis: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    

    .clientdesc{
        background-color: #fff;
        flex-basis: 40%;
        border: none;
        border-radius: 3px;
        margin-bottom: 4rem;
        position: relative;
        padding: 2.8rem 1.5rem 1rem 1.5rem;

        img{
            position: absolute;
            top: -2.5rem;
            left: 35%;
        }
    }
}

}





footer{
    .container{
        .footdiv{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;

        }
    }
}

.footitems{
    flex-basis: 20%;
    margin: 2rem 0;
    .foottitle{
        font-weight: bold;
        font-size: 1rem;
        margin: 1rem 0;
    }

    .footlist{
        list-style-type: none;
        color: gray;
        font-size: 0.8rem;
    }
    .social{
        .socicon{
            margin-right: 0.5rem;
            margin-top: 1rem;
        }
    }
}

.copyright{
    border-top: 1px solid $gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.8rem 0;
    .copy{
        color: $gray;
        font-size: 0.8rem;

    }
}