@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro';
}

hr {
  color: red;
}

#wrapper {
  margin: auto;
  min-width: 1200px;
}

.nav-container-1 {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  padding-right: 2rem;
}

.nav-container-2 {
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
  padding: 0 4rem;
  border-left: 1px lightgray solid;
}

.nav-container-3 {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  padding-left: 1rem;
  border-left: 1px lightgray solid;
}

.navigation-item {
  list-style-type: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.2rem auto;
}

.navigation-item .navigation-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
}

.navigation-item .navigation-link .icons {
  font-size: 1.2rem;
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  color: #ee1694;
  margin-right: 0.5rem;
}

.navigation-item .navigation-link .link {
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
}

.navigation-item .navigation-link p {
  margin: 2px;
  margin-right: 0.5rem;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.navigation-item .navigation-link .btn {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin-left: 1rem;
}

.head {
  padding: 1rem 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: unwrap;
      flex-wrap: unwrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head .logo, .head .cart {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head .cart {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.head .cart .icon-cart {
  color: #ee1694;
  padding: 0.5rem;
  font-size: 1.4rem;
}

.head .cart .cartitem {
  font-size: 1rem;
  padding-left: 1rem;
}

.head .logo .logoimg {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.head .logo .logoimg img {
  display: block;
  height: 100px;
  margin-right: auto;
}

.head .logo .logoname {
  text-transform: uppercase;
  font-size: 1.5rem;
}

.search {
  border-left: solid 1px gray;
  border-right: solid 1px gray;
  margin: 0 auto;
  display: block;
}

.search img {
  padding: 0 0.5rem;
  height: 1.5rem;
}

.container-fluid .bannerimage {
  height: 70vh;
  background-color: black;
}

.container-fluid .bannerimage img {
  width: 100%;
  height: 70vh;
}

.container-fluid .top-slider {
  margin: 20px;
  margin-left: 70px;
  height: 50vh;
  width: 1100px;
}

.container-fluid .top-slider h2 {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  padding: 25px;
  margin: 15px;
}

.container-fluid .top-slider .container-fluid {
  padding: 10px;
  margin: 10px;
}

.container-fluid .featuredproduct ul {
  background-color: darkblue;
  margin: 25px;
}

.container-fluid .featuredproduct ul li {
  color: white;
  list-style: none;
  padding: 15px;
}

.container-fluid .second-banner {
  margin: 10px;
  padding: 10px;
  background-image: url("./img/Layer14Image-8.png");
  height: 20vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr 2fr;
      grid-template-columns: 1fr 3fr 2fr;
}

.container-fluid .second-banner i {
  padding: 20px;
  font-size: 70px;
  color: white;
}

.container-fluid .second-banner div {
  padding: 20px;
  color: white;
}

.container-fluid .second-banner button {
  background-color: blue;
  border: none;
  height: 5vh;
  width: 180px;
  margin: 50px;
  margin-left: 100px;
  color: white;
}

.container-fluid #card-footer {
  height: 8vh;
}

.container-fluid .distributorproduct {
  margin-top: 25px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr;
      grid-template-columns: 1fr 5fr;
  grid-gap: 2px;
}

.container-fluid .distributorproduct .sidebar {
  background-color: red;
  padding: 10px;
  margin: 15px;
  height: 70vh;
  width: 350px;
}

.container-fluid .distributorproduct .sidebar p {
  color: white;
  padding: 10px;
}

.container-fluid .distributorproduct .minicard {
  padding: 10px;
}

.container-fluid .hearfromclient {
  margin-top: 25px;
  background-image: url("img/hands-woman-laptop-notebook Image-8.png");
  background-repeat: no-repeat;
}

.container-fluid .hearfromclient .container .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 4rem;
}

.container-fluid .happyclient {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.container-fluid .happyclient p {
  color: #ffffff;
  padding-top: 1rem;
}

.container-fluid .happyclient .viewall {
  width: 80%;
  height: 3rem;
  margin-top: 2rem;
  color: white;
  background-color: #059e9e;
  border: none;
}

.container-fluid .clientstories {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container-fluid .clientstories .clientdesc {
  background-color: #fff;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  border: none;
  border-radius: 3px;
  margin-bottom: 4rem;
  position: relative;
  padding: 2.8rem 1.5rem 1rem 1.5rem;
}

.container-fluid .clientstories .clientdesc img {
  position: absolute;
  top: -2.5rem;
  left: 35%;
}

footer .container .footdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footitems {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  margin: 2rem 0;
}

.footitems .foottitle {
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem 0;
}

.footitems .footlist {
  list-style-type: none;
  color: gray;
  font-size: 0.8rem;
}

.footitems .social .socicon {
  margin-right: 0.5rem;
  margin-top: 1rem;
}

.copyright {
  border-top: 1px solid gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0.8rem 0;
}

.copyright .copy {
  color: gray;
  font-size: 0.8rem;
}
/*# sourceMappingURL=homepage.css.map */